* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.rcv-teams-talk-gfx {
  width: 1920px;
  height: 1080px;
  overflow: hidden;
  font-family: var(--primary-font-family);
  font-weight: 700;
  font-style: normal;
  color: var(--text-color);
  font-size: 50px;
  display: flex;
  justify-content: center;
  position: relative;
}

.container {
  height: fit-content;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 20px;
  position: relative;
}

.blue {
  color: var(--blue-team);
}

.red {
  color: var(--red-team);
}

.team {
  display: none;
  align-items: center;
  position: absolute;
}

#blue-team {
  right: 55%;
}

#red-team {
  flex-direction: row-reverse;
  left: 55%;
}

.vs {
  color: var(--accent-color);
  font-weight: bold;
  font-size: 150px;
  margin: 0 50px;
}

.tag {
  font-size: 100px;
  text-transform: uppercase;
  line-height: 1;
  font-family: var(--secondary-font-family);
}

.tag.outline {
  -webkit-text-stroke-width: 3px;
}

.outline {
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: inherit;
}

.name {
  line-height: 1;
  text-transform: uppercase;
  font-size: 65px;
  width: 600px;
  white-space: nowrap;
  overflow: hidden;
}

#blue-name {
  margin-right: 40px;
  text-align: right;
}

#red-name {
  margin-left: 40px;
}