block variables
doctype html
html
  head
    meta(charset="utf-8")
    link(rel="shortcut icon", href="/favicon.ico")
    meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
    meta(name="theme-color", content="#000000")
    title #{title} | LPT

    link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@forevolve/bootstrap-dark@1.1.0/dist/css/bootstrap-dark.min.css")
    link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@forevolve/bootstrap-dark@1.1.0/dist/css/bootstrap-prefers-light.min.css")
    link(rel="stylesheet" href="/static/style.css")

    script(src="https://kit.fontawesome.com/23ea831532.js" crossorigin="anonymous")

    script(src="/vendor/jquery/jquery.min.js")
    script(src="/vendor/bootstrap/js/bootstrap.bundle.min.js")
  body
    .container.vh-100.d-flex.text-center.w-100
      form(class="form-signin w-50 h-50 my-auto mx-auto d-flex flex-column align-items-stretch justify-content-center bg-light p-5" method="POST" action="/login")
        #error
          if error
            p.text-danger Error!!!
        
        img(src="/static/rcv.png" width="25%" class="mx-auto mb-5")

        label(for="inputApiKey" class="sr-only") Api Key
        input(type="password" name="apiKey" id="inputApiKey" class="form-control mb-5" placeholder="Api-Key" required)

        - var buttonClass=['btn', 'btn-lg', 'btn-primary', 'btn-block'];
        button(class=buttonClass type="submit") Sign in