block variables
doctype html
html
  head
    meta(charset="utf-8")
    link(rel="shortcut icon", href="/favicon.ico")
    meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
    meta(name="theme-color", content="#000000")
    title #{title} | LPT

    link(rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.min.css")
    link(rel="stylesheet" href="/static/style.css")

    script(src="https://kit.fontawesome.com/ca807a5c4a.js" crossorigin="anonymous")

    script(src="/vendor/jquery/jquery.min.js")
    script(src="/vendor/bootstrap/js/bootstrap.bundle.min.js")
  body
    .container.vh-100.d-flex.text-center.w-100
      form(class="form-signin w-50 h-50 my-auto mx-auto d-flex flex-column align-items-stretch justify-content-center bg-light p-5" method="POST" action="/login")
        #error
          if error
            p.text-danger Error!!!
        
        img(src="/static/rcv.png" width="25%" class="mx-auto mb-5")

        label( for="inputName" class="sr-only") Username
        input(type="text" name="username" id="inputName" class="form-control mb-3" placeholder="Username" required autofocus)

        label(for="inputPassword" class="sr-only") Password
        input(type="password" name="password" id="inputPassword" class="form-control mb-5" placeholder="Password" required)

        - var buttonClass=['btn', 'btn-lg', 'btn-primary', 'btn-block'];
        button(class=buttonClass type="submit") Sign in