.container {
  margin-top: 60px;
  margin-bottom: 20px;
}

.presented {
  padding: 0;
}

.rcv-logo {
  height: 50px;
  width: 50px;
  margin: 0 5px;
}

.eventList div {
  white-space: pre-wrap;
}

.toast-top-right {
  top: 75px !important;
  width: 345px;
}

.toast-top-right > div {
  width: 500px !important;
}
