.rcv-caster {
    background-image: url(/pages/op-themeing/active/images/rcv-caster.png);
    // background-color: gray;

    .name {
        color: black;
        letter-spacing: 1px;
        font-size: 40px;
    }
    .social {
        color: black;
        font-family: 'Tungsten';
        font-weight: bold;
        letter-spacing: 1px;
        font-size: 24px;
    }

    .container {
        position: unset;
        top: unset;
        left: unset;
        width: unset;
        height: unset;
        display: unset;
    }

    .caster-box {
        position: absolute;
        top: 710px;
    }

    #caster-one {
        left: 580px;
    }
    #caster-two {
        text-align: unset;
        left: 685px;
    }
}