body {
    margin: 0;
    overflow: hidden;
    position: relative;
    color: #fff;
    width: 1080px;
    height: 1920px;
}

.agent {
    position: absolute;
    height: 100%;
    top: 0;
    left: -150px
}

.agent img {
    width: 150%;
    -webkit-mask-image: linear-gradient(90deg, rgba(0,0,0,1) 90%, rgba(0,0,0,0) 100%);
    mask-image: linear-gradient(90deg, rgba(0,0,0,1) 90%, rgba(0,0,0,0) 100%);
}

h1 {
    font-size: 200pt;
    text-transform: uppercase;
    margin: -25px 0;
    line-height: 1;
}

h2 {
    font-family: D-DIN;
    color: #fbfb42;
    font-size: 80pt;
    text-transform: uppercase;
    margin: 0;
    line-height: 1;
}

.player {
    box-sizing: border-box;
    position: absolute;
    top: 30%;
    left: 55%;
    width: 115%;
    padding-right: 55px;
    transform: translateY(-50%);
    text-align: left;
}

.stats h1 {
    font-size: 100pt;
    margin: 0;
}

.stats h2 {
    font-size: 60pt;
}

.stats {
    margin-top: 75px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}