node_modules/
dist/
.idea/
core-build/
cache/
modules/config/config.json
.DS_Store

modules/static-league/data/*
!modules/static-league/data/img
modules/static-league/data/img/*
!modules/static-league/data/img/summoner-spell

modules/themeing/frontend/active