[submodule "modules/plugin-config"]
	path = modules/plugin-config
	url = https://github.com/rcv-prod-toolkit/plugin-config.git
	branch = main
[submodule "modules/plugin-database"]
	path = modules/plugin-database
	url = https://github.com/rcv-prod-toolkit/plugin-database.git
	branch = main
[submodule "modules/plugin-prod-clock"]
	path = modules/plugin-prod-clock
	url = https://github.com/rcv-prod-toolkit/plugin-prod-clock.git
	branch = main
[submodule "modules/plugin-themeing"]
	path = modules/plugin-themeing
	url = https://github.com/rcv-prod-toolkit/plugin-themeing.git
	branch = main
