node_modules/
dist/
.idea/
core-build/
cache/
modules/config/config.json

modules/static-league/data/*
!modules/static-league/data/img
modules/static-league/data/img/*
!modules/static-league/data/img/summonerSpells