[submodule "modules/plugin-config"]
	path = modules/plugin-config
	url = https://github.com/rcv-prod-toolkit/plugin-config.git
	branch = main
[submodule "modules/plugin-database"]
	path = modules/plugin-database
	url = https://github.com/rcv-prod-toolkit/plugin-database.git
	branch = main
[submodule "modules/plugin-prod-clock"]
	path = modules/plugin-prod-clock
	url = https://github.com/rcv-prod-toolkit/plugin-prod-clock.git
	branch = main
[submodule "modules/plugin-theming"]
	path = modules/plugin-theming
	url = https://github.com/rcv-prod-toolkit/plugin-theming.git
	branch = main
[submodule "modules/plugin-webapi"]
	path = modules/plugin-webapi
	url = https://github.com/rcv-prod-toolkit/plugin-webapi.git
	branch = main
[submodule "modules/module-teams"]
	path = modules/module-teams
	url = https://github.com/rcv-prod-toolkit/module-teams.git
	branch = main
[submodule "modules/module-caster"]
	path = modules/module-caster
	url = https://github.com/rcv-prod-toolkit/module-caster.git
	branch = main
[submodule "modules/module-tournament-tree"]
	path = modules/module-tournament-tree
	url = https://github.com/rcv-prod-toolkit/module-tournament-tree.git
	branch = main
[submodule "modules/module-league-state"]
	path = modules/module-league-state
	url = https://github.com/rcv-prod-toolkit/module-league-state.git
	branch = main
[submodule "modules/module-league-static"]
	path = modules/module-league-static
	url = https://github.com/rcv-prod-toolkit/module-league-static.git
	branch = main
[submodule "modules/module-valorant-static"]
	path = modules/module-valorant-static
	url = https://github.com/rcv-prod-toolkit/module-valorant-static.git
	branch = main
[submodule "modules/module-valorant-state"]
	path = modules/module-valorant-state
	url = https://github.com/rcv-prod-toolkit/module-valorant-state.git
	branch = main
[submodule "modules/module-valorant-pregame"]
	path = modules/module-valorant-pregame
	url = https://github.com/rcv-prod-toolkit/module-valorant-pregame.git
	branch = main
[submodule "modules/module-league-champselect-ui"]
	path = modules/module-league-champselect-ui
	url = https://github.com/rcv-prod-toolkit/module-league-champselect-ui.git
	branch = main
[submodule "modules/module-league-end-of-game"]
	path = modules/module-league-end-of-game
	url = https://github.com/rcv-prod-toolkit/module-league-end-of-game.git
	branch = main
[submodule "modules/module-league-in-game"]
	path = modules/module-league-in-game
	url = https://github.com/rcv-prod-toolkit/module-league-in-game.git
	branch = main
[submodule "modules/module-league-runes"]
	path = modules/module-league-runes
	url = https://github.com/rcv-prod-toolkit/module-league-runes.git
	branch = main
[submodule "modules/module-league-caster-cockpit"]
	path = modules/module-league-caster-cockpit
	url = https://github.com/rcv-prod-toolkit/module-league-caster-cockpit.git
	branch = main
[submodule "modules/module-league-champselect-tent"]
	path = modules/module-league-champselect-tent
	url = https://github.com/rcv-prod-toolkit/module-league-champselect-tent.git
	branch = main
	update = none
[submodule "modules/module-league-champselect-ace"]
	path = modules/module-league-champselect-ace
	url = https://github.com/rcv-prod-toolkit/module-league-champselect-ace.git
	branch = main
	update = none
[submodule "modules/module-twitch"]
	path = modules/module-twitch
	url = https://github.com/rcv-prod-toolkit/module-twitch.git
	branch = main
[submodule "docs/wiki"]
	path = docs/wiki
	url = https://github.com/RCVolus/league-prod-toolkit.wiki.git
	branch = main
[submodule "modules/module-vmix"]
	path = modules/module-vmix
	url = https://github.com/rcv-prod-toolkit/module-vmix.git
	branch = main
[submodule "modules/module-league-prm"]
	path = modules/module-league-prm
	url = https://github.com/rcv-prod-toolkit/module-league-prm.git
	branch = main
[submodule "types"]
	path = types
	url = https://github.com/rcv-prod-toolkit/types.git
	branch = main
[submodule "modules/module-valorant-ingame"]
	path = modules/module-valorant-ingame
	url = https://github.com/rcv-prod-toolkit/module-valorant-in-game.git
	branch = main
	update = none
[submodule "modules/module-cs-gsi"]
	path = modules/module-cs-gsi
	url = https://github.com/rcv-prod-toolkit/module-cs-gsi.git
	branch = main
	update = none
[submodule "modules/module-atem"]
	path = modules/module-atem
	url = https://github.com/rcv-prod-toolkit/module-atem.git
	branch = main
	update = none
[submodule "modules/module-league-fearless"]
	path = modules/module-league-fearless
	url = https://github.com/rcv-prod-toolkit/module-league-fearless.git
