*, *::before, *::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 1920px;
  height: 1080px;
  overflow: hidden;
  display: flex;
  background-size: contain;
  background-repeat: no-repeat;
  margin-top: 154px;
  font-family: var(--secondary-font-family);
  font-weight: 700;
  position: relative;
}

.player {
  width: 74px;
  height: 71px;
  overflow: hidden;
  position: relative;
  transform-origin: center bottom;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scaleY(0);
}

.level {
  display: none;
  transform-origin: center;
  font-size: 50px;
  transform: translateY(-100%)
}

.levelUp {
  animation: backgroundUp 0.4s ease-out forwards,
              backgroundDown 0.4s ease-out 2.85s forwards;
}

.levelUp .level {
  display: block;
  animation: levelIn 0.4s ease-in 0.05s forwards,
              levelOut 0.4s ease-in 2.6s forwards;
}

.item {
  display: none;
  object-fit: contain;
  width: 60px;
  height: 60px;
  transform: translateY(-100%)
}

.itemBuy {
  animation: backgroundUp 0.4s ease-out forwards,
              backgroundDown 0.4s ease-out 3.45s forwards;
}

.itemBuy .item {
  display: block;
  animation: levelIn 0.4s ease-in 0.1s forwards,
              levelOut 0.4s ease-in 3.15s forwards;
}

.player:not(:last-child) {
  margin-bottom: 32px;
}

#blue {
  margin-left: 2px;
}

#blue .player {
  background: var(--blue-team);
  background: linear-gradient(180deg, var(--blue-team) 0%, var(--blue-team-dark) 250%);
  -webkit-mask-image: radial-gradient(circle 18px at 70px 9px, transparent 0, transparent 12px, black 13px);
}

#blue .player .level {
  color: var(--background-color);
}

#red {
  margin-right: 2px;
  margin-left: auto;
}

#red .player {
  background: var(--red-team);
  background: linear-gradient(180deg, var(--red-team) 0%, var(--red-team-dark) 250%);
  -webkit-mask-image: radial-gradient(circle 18px at 4px 9px, transparent 0, transparent 12px, black 13px);
}

#red .player .level {
  color: var(--text-color);
}

@keyframes backgroundUp {
  from {
    transform: scaleY(0);
  }
  to {
    transform: scaleY(1);
  }
}

@keyframes backgroundDown {
  from {
    transform: scaleY(1);
  }
  to {
    transform: scaleY(0);
  }
}

@keyframes levelIn {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes levelOut {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-100%);
  }
}

#inhibDiv {
  opacity: 1;
  background-image: url(./img/inhibbadge.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 310px;
  height: 135px;
  position: absolute;
  left: 0;
  bottom: 135px;
  transform: translateY(-100%);
  transition: opacity 0.3s ease;
  color: var(--text-color)
}

.inhibitors {
  transform: scale(1);
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  opacity: 1;
  transition: opacity 0.5s ease;
  padding: 7px 30px 10px 22px;
  position: absolute;
}

.inhibitors h3 {
  text-align: center;
  width: 100%;
  margin-bottom: 10px;
  font-family: var(--primary-font-family);
  font-size: 30px;
  position: relative;
  letter-spacing: 7.5px;
}

.inhibitor,
.inhibitor svg {
  width: 50px;
  height: 50px;
}

.inhibitor {
  --percent: 0%;
  position: relative;
  text-align: center;
}

.inhibitor.L1::before {
  content: url(./img/top.svg);
}
.inhibitor.C1::before {
  content: url(./img/mid.svg);
}
.inhibitor.R1::before {
  content: url(./img/bottom.svg);
}

.inhibitor::before {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 10;
  -webkit-mask-image: linear-gradient(to bottom, transparent 0, transparent calc(var(--percent) * 1%), black calc(calc(var(--percent) * 1%) - 1px));
}

#blueSide h3 {
  color: var(--blue-team);
}

#redSide h3 {
  color: var(--red-team);
}

.hide {
  opacity: 0 !important;
}

#turrets {
  position: absolute;
  top: -140px;
  left: 50%;
  transform: translateX(-50%);
  width: 610px;
  font-size: 20px;
  display: flex;
  justify-content: space-between;
}

.turrets {
  display: flex;
}

.turret {
  margin-right: 5px;
  object-fit: contain;
  width: 18px;
}

#blueTurrets {
  color: #0099e0;
}

#redTurrets {
  color: #e83d3d;
}