@font-face {
  font-family: Tungsten;
  src: url(/pages/op-themeing/active/font/Tungsten-Bold.ttf);
  font-weight: bold;
}
@font-face {
  font-family: D-DIN;
  src: url(/pages/op-themeing/active/font/D-DIN-Bold.otf);
  font-weight: bold;
}
@font-face {
  font-family: D-DIN;
  src: url(/pages/op-themeing/active/font/D-DIN.otf);
  font-weight: normal;
}

body {
  font-family: 'Tungsten';
  font-weight: bold;
}

@import "rcv-teams/index";
@import "rcv-caster/index";