* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.valorant-pregame-gfx {
  width: 1920px;
  height: 1080px;
  padding-top: 225px;
  overflow: hidden;
  /* background-image: url(/pages/op-valorant-pregame/gfx/img/pick_background.jpg); */
  background-size: cover;
  background-position: center center;
  color: white;
  font-family: "Tungsten";
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

#map {
  width: 980px;
  height: 632px;
  background: #0f1921;
  background-size: cover;
  background-position: center center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding: 28px;
  text-transform: uppercase;
  position: relative;
  overflow: hidden;
}
#map::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  bottom: -50%;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 100%);
  z-index: 1;
}
#map h3 {
  color: #fbfb42;
  font-size: 24pt;
  line-height: 1;
  margin-bottom: 0;
  position: relative;
  z-index: 5;
}
#map h1 {
  font-size: 58pt;
  line-height: 1;
  position: relative;
  z-index: 5;
}

.team {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.agent {
  width: 428px;
  height: 135px;
  background: rgba(15, 25, 33, 0.725);
  margin: 9px 22px;
  position: relative;
  overflow: hidden;
  padding: 10px 20px;
  display: flex;
  transform-origin: right;
  animation: scale 0.3s linear;
}
.agent:first-child {
  margin: 0px 22px 9px;
}
.agent:last-child {
  margin: 9px 22px 0px;
}
.agent:first-child:last-child {
  margin: 0 22px !important;
}
.agent::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: #000;
  -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.45));
  mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.45));
  z-index: 5;
  transition: background 1.2s linear;
}
.agent.hover::before {
  animation: hoverPulse 1.2s linear infinite alternate;
}
#Red .agent {
  flex-direction: row-reverse;
  transform-origin: left;
}
.agent .agent-img {
  z-index: 0;
  left: 0;
  transform: translateX(-32%);
  top: -125%;
  position: absolute;
  width: 200%;
  object-fit: cover;
  opacity: 0;
  animation: fadeIn 0.3s 0.2s linear forwards;
}
#Red .agent .agent-img {
  left: unset;
  right: 0;
  transform: translateX(25%) scaleX(-100%);
}
.agent .agent-name {
  font-family: "D-DIN";
  font-weight: bold;
  position: relative;
  z-index: 10;
  margin-top: auto;
  font-size: 20pt;
  margin-bottom: 0 !important;
  line-height: 1;
  transform: translateY(150%);
  animation: moveUp 0.3s 0.25s linear forwards;
}

@keyframes hoverPulse {
  0% {
    background: #000;
  }
  100% {
    background: #f74554;
  }
}
@keyframes scale {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}
@keyframes moveUp {
  0% {
    transform: translateY(150%);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/*# sourceMappingURL=style.css.map */
