.pub {
  width: fit-content;
  height: 150px;
  background-color: var(--background-color);
  display: flex;
  box-shadow: 3px 2px 9px 0px rgba(0, 0, 0, 0.25);
  transform-origin: center bottom;
  animation: in 0.5s;
}

@keyframes in {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}

.ban {
  width: 430px;
  height: 150px;
  padding: 0 80px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.teams {
  display: flex;
  flex-direction: column;
}

.team {
  width: 870px;
  height: 75px;
}

#blueTeam {
  background-color: var(--blue-team);
}

#redTeam {
  background-color: var(--red-team);
}

img {
  width: 58px;
  height: 58px;
}

.ban img:not(:nth-child(3)):not(:last-child) {
  margin-right: 30px;
}

.team {
  display: flex;
  align-items: center;
}

.team .picks {
  display: flex;
  align-items: center;
}

.team .picks img:not(:last-child) {
  margin-right: 20px;
}

#blueTeam .picks img:nth-child(1) {
  margin-right: 172px;
}

#blueTeam .picks {
  margin-left: 50px;
}

#redTeam .picks {
  margin-left: 125px;
}

#redTeam .picks img:nth-child(2) {
  margin-right: 172px;
}

#blueTeam .picks img:nth-child(3) {
  margin-right: 202px;
}

#redTeam .picks img:nth-child(3) {
  margin-right: 50px;
}

#redTeam .picks img:nth-child(4) {
  margin-right: 172px;
}