
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
  --scale: 30px;
  --box-width: 180px;
  --box-height: --box-pick-height;

  --box-pick-height: 145px;
  --box-ban-height: 150px;
  --box-ban-spacer: 1px;

  --pick-name-height: 30px;
  --pick-image-crop: 8px;

  --ban-image-crop: 6px;
  --summoner-spell-size: 40px;

  --border-between-color: rgba(169, 169, 169, 0.1);
  --border-width: 1px;
}